parameters:
  level: 9
  paths:
    - src
    - tests

  ignoreErrors:
    - '#Method M2MTech\\ApiPlatformDatatablesFormat\\Tests\\.*Provider\(\) return type has no value type specified in iterable type iterable.#'
